<div class="row">
<!-- use flexbox -->
<% @animals.each do |animal| %>
  <p>Name: <%= animal.name() %></p>
  <p>Admission Date: <%= animal.admission_date %></p>
  <p><a href="/animals/<%= animal.id %>">Show Animal</a></p>
<% end %>

</div>
