<div class="adoptions-container">
  <h1> SUCCESS STORIES</h1>
  <div class="row">

  <% @animals.each do |animal| %>

  <div class="col-4">

    <div class="adoptions">
      <p> <img src="<%= animal.image_url %>" height="300px" width="300px"/>
      <p>Animal Name: <%= animal.name %></p>
      <p>Adopted by: <%= animal.owner().pretty_name%> </p>
    </div>

  </div>
<% end %>
  </div>

</div>
