<p>
  <% @animals.each do |animal| %>
  <p> <img src="<%= animal.image_url %>" height="300px" width="300px"/>
  <p>Name: <%= animal.name %></p>
  <p>Adopted by: <%= animal.owner().pretty_name%> </p>
<% end %>
</p>
