
<div class="asimg1">
   <div class="astext">
     <span class="border">
       Animal Shelter
     </span>
   </div>
 </div>

 <section class="section section-light">
   <h2>ANIMALS</h2>
   <p><a href="/animals">All Animals</a></p>
   <p><a href="/animals/new">Add New Animal</a></p>
 </section>

 <div class="asimg2">
   <div class="astext">
     <span class="border trans">
     </span>
   </div>
 </div>

 <section class="section section-light">
   <h2>OWNERS</h2>
   <p><a href="/owners">All Owners</a></p>
   <p><a href="/owners/new">Add New Owner</a></p>
 </section>

 <div class="asimg3">
   <div class="astext">
     <span class="border trans">
     </span>
   </div>
 </div>

 <section class="section section-light">
   <h2>ADOPTIONS</h2>
   <p><a href="/adoptions">Success stories</a></p>
 </section>

 <div class="asimg4">
   <div class="astext">
     <span class="border">
       Thank you. ♥
     </span>
   </div>
 </div>
