<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/animals">All Animals</a>
    </li>
    <li>
      <a href="/owners">All Owners</a>
    </li>
    <li>
      <a href="/animals/new">Add New Animal</a>
    </li>
    <li>
      <a href="/animals/new">Add New Animal</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
