<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="http://4vector.com/i/free-vector-dog-silhouette_102697_Dog_silhouette.png" />
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/animals">All Animals</a>
    </li>
    <li>
      <a href="/owners">All Owners</a>
    </li>
    <li>
      <a href="/animals/new">Add New Animal</a>
    </li>
    <li>
      <a href="/owners/new">Add New Owner</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
