<div class="owner-container">
  <h1>ALL OWNERS</h1>
  <div class="row">

<% @owners.each do |owner| %>

    <div class="col-4">

      <div class="owner">
        <p><img src="<%= owner.image_url %>" height="300px" width="250px"/></p>
        <p>Name: <%= owner.first_name() %> <%= owner.last_name() %></p>
        <p><a href="/owners/<%= owner.id %>">Show Owner</a></p>
      </div>

    </div>
<% end %>

  </div>

</div>
